<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mapper.ProductInfoMapper">
    <update id="updateStockById">
        update product_info set product_stock = #{param2} where product_id = #{param1}
    </update>
    <update id="updateStatus">
        update product_info set product_status = #{param2} where product_id = #{param1}
    </update>

    <select id="getPriceById" resultType="java.math.BigDecimal">
        select product_price from product_info where product_id = #{id}
    </select>

    <select id="getStockById" resultType="java.lang.Integer">
        select product_stock from product_info where product_id = #{id}
    </select>
</mapper>
